# Expo
.expo/
dist/
node_modules/
web-build/

# Environment
.env
.env.local

# iOS
ios/Pods/
ios/build/

# Android
android/app/build/
android/.gradle/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Expo
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*
